<%= simple_form_for(current_user, url: user_path, html: { method: :put }) do |f| %>
<%= f.error_notification %>
<%# f.button :submit, "Add Availabilities", required: true, class: "btn btn-primary", :"data-toogle" => "asdasd" %>
<div class="form-group">
  <div class="availability-choices">
    <ul>
      <% current_user.availabilities.order(:created_at).each do |a| %>
        <li class="availability-choice <%= "availablity-active" if a.available %>">
          <input class="hidden" type="checkbox" value="<%= a.id %>" name="user[availability_ids][]">
          <time class="icon <%= a.day %>">
            <span class="day"><%= a.day[0, 3] %></span>
            <span class="timing"><%= a.time %></span>
            <span class="check" style="display: none;">
              <i class="fa fa-check"></i>
            </span>
          </time>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<%# f.input :availabilities, required: true, autofocus: true %>
<div class="form-actions text-center">
  <%= f.button :submit, "Save changes", class: "btn btn-success"%>
  <%= f.button :submit, "Cancel", class: "btn btn-danger"%>
</div>
<% end %>


