<div class="container wrapper">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="show-info">
        <div class="image-wrapper">
          <%= cl_image_tag(@user.photo, height: 170, width: 170, crop: :fill, :id => "show-image") rescue nil %>
        </div>
        <div class="user-info">
          <h3><%= @user.first_name %></h4>
          <h6>Gender: <%= @user.gender %></h6>
          <h6>Age: <%= @user.age %></h6>
          <h6>Skill level: <%= @user.skill_level %></h6>
        </div>
        <% if @user == current_user %>
          <div class="btn btn-warning edit-profile col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%= link_to "Edit your profile", edit_user_path %>
          </div>
        <% else %>
          <div class="intro col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Hello, my name is <%= @user.first_name %>.</p>
            <p>Let's play tennis. Pick a court!</p>
            <div class="match-inputs">
              <%= render "matches/new" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
