<div class="container white-page">
  <div class="row">
    <div class="col-xs-12">
      <div class="show-info">

        <%= cl_image_tag(@user.photo, height: 170, width: 170, crop: :fill, :id => "show-image") rescue nil %>
        <h5><%= @user.first_name %></h5>
        <h5>Gender: <%= @user.gender %></h5>
        <h5>Age: <%= @user.age %></h5>
        <h5>Skill level: <%= @user.skill_level %></h5>

        <% if @user == current_user %>
          <%= link_to "Edit your profile", edit_user_path %>
        <% else %>
          <%= link_to "Request match" %>
        <% end %>
      </div>

      <div class="intro">
        <p> Hi, it's <%= @user.first_name %>... </p>
      </div>
    </div>
  </div>
</div>

<!-- css @ pagew/show -->
