<div class="match-show-banner flex-std"><h1><%= @match.requester.first_name %> vs. <%= @match.approver.first_name %></h1></div>

<div class="empty-banner" style = "height: 75px">
</div>
<div class="container-1">
  <div class="col-xs-12">
    <div class="match-show-info">
      <div class="match-show-profile-picture-container">
        <%= link_to cl_image_tag(@match.requester.photo, height: 135, width: 135, crop: :fill, :id => "show-image-1"), user_path(@match.requester) %>
        <%= link_to cl_image_tag(@match.approver.photo, height: 135, width: 135, crop: :fill, :id => "show-image-2"), user_path(@match.approver) %>
      </div>


      <div class="match-show-content">

        <div class="match_btn">
          <% if @match.approver == current_user && @match.status == "pending"%>
            <%= simple_form_for @match do |f| %>
              <%= f.submit "Approve", class: "btn btn-success" %>
              <%= f.submit "Decline", class: "btn btn-danger" %>
            <% end %>
          <% else %>
            <div  class="confirmed-match <%= @match.status%>-status">
              <p> This match is <%= @match.status %> </p>
            </div>

            <% if @match.status == "accepted" %>
              <% tel = current_user == @match.approver ? @match.requester.phone : @match.approver.phone %>
              <p class = "phone_contact"> <i class="fas fa-phone" style = "color: #7161D0;"></i> Contact your partner: <a href="tel: #{tel}"><%= tel %></a></p>
            <% end %>

            <div class="time-location">
              <div class='flex-left '><i class="far fa-clock icon-clock"></i><p><%= @match.day %>  <%= @match.time %></p></div>
              <div class='flex-left '><i class="fas fa-map-marker-alt icon-marker"></i> <p><%=  @match.court.name %></p></div>
            </div>
          <% end %>

        </div>


      </div>
    </div>
      <div class="map-box-setting">
        <% marker = { lat: @match.court.latitude, lng: @match.court.longitude } %>
        <div class= "map-box" id="map" style="width: 100%; height: 35vh;" data-markers="[<%= marker.to_json %>]"></div>
      </div>
  </div>
</div>
</div>

<% if false %>
  <div class="container-1">
      <div class="col-xs-12">
        <div class="match-show-info">
          <div class="match-show-profile-picture-container">
            <%= cl_image_tag(@match.approver.photo, height: 110, width: 110, crop: :fill, :id => "show-image-1") %>
            <%= cl_image_tag(@match.requester.photo, height: 110, width: 110, crop: :fill, :id => "show-image-2") %>
          </div>
          <div class="match-show-content">
            <h3><%= @match.approver.first_name %> vs. <%= @match.requester.first_name %></h3>
            <h3><%= @match.day + " " + @match.time%></h3>
            <h5><strong>Status: <%= @match.status.capitalize %></strong></h5>
            <div class ="location-title-in-match">
              <h5><strong>Location: </strong></h5>
              <div class="location-align">
                <p><%= link_to @match.court.address, court_path(@match.court) %></p>
              </div>

            </div>

            <div class="map-box-setting">
              <% marker = { lat: @match.court.latitude, lng: @match.court.longitude } %>
              <div class= "map-box" id="map" style="width: 90%; height: 25vh;" data-markers="[<%= marker.to_json %>]"></div>
            </div>

            <div class="match_btn">
              <% if @match.approver == current_user && @match.status == "pending"%>
                <%= simple_form_for @match do |f| %>
                  <%= f.submit "approve", class: "btn btn-success btn-lg" %>
                  <%= f.submit "decline", class: "btn btn-danger btn-lg" %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="a-link">
            <%= link_to "Back to my matches", matches_path%>
          </div>
        </div>
      </div>
  </div>
<% end %>
