<div class="container-1">
    <div class="col-xs-12">
      <div class="match-show-info">
        <div class="match-show-profile-picture-container">
          <%= cl_image_tag(@match.approver.photo, height: 80, width: 80, crop: :fill, :id => "show-image-1") %>
          <%= cl_image_tag(@match.requester.photo, height: 80, width: 80, crop: :fill, :id => "show-image-2") %>
        </div>
        <div class="match-show-content">
          <h3><%= @match.approver.first_name %> vs. <%= @match.requester.first_name %></h3>
          <h5><strong>Status: <%= @match.status.capitalize %></strong></h5>
          <div>
            <h5><strong>Location: </strong></h5>
            <div class="location-align">
              <h5><%= link_to @match.court.address, court_path(@match.court) %></h5>
            </div>
          </div>
          <% marker = { lat: @match.court.latitude, lng: @match.court.longitude } %>
          <div class= "map-box" id="map" style="width: 100%; height: 25vh;" data-markers="[<%= marker.to_json %>]"></div>

          <div class="match_btn">
            <% if @match.approver == current_user && @match.status == "pending"%>
              <%= simple_form_for @match do |f| %>
                <%= f.submit "approve", class: "btn btn-success btn-lg" %>
                <%= f.submit "decline", class: "btn btn-danger btn-lg" %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="a-link">
          <%= link_to "Back to my matches", matches_path%>
        </div>
      </div>
    </div>
</div>
